
extends template/template

block header
  include blocks/headerAdmin

block nav
  include blocks/menuAdmin


block main
  include blocks/categorias
  include blocks/ofertas
    include blocks/pagina


block footer
  include blocks/footer

