
extends template/template

block header
  include blocks/headerUsuario

block nav
  include blocks/menuUsuario

block main
  include blocks/categorias
  include blocks/ofertas
    include blocks/pagina

block section
  include blocks/logos

block footer
  include blocks/footer