
.main-footer
  .container-footer.l-container
    .container-footer__logos
      img(src="assets/img/logo.png").container-footer__img
      img(src="assets/img/escudo.png").container-footer__img
    p.container-footer__address © 2016 - Alcaldía Municipal de Santa Tecla / 2a Av. Norte y 1a Calle Poniente No. 2-3, Santa Tecla, El Salvador
    .container-footer__sociales
      a(href="http://mail.amst.gob.sv/webmail/" title="correo").container-footer__social
        i.fas.fa-envelope-square
      a(href="https://facebook.com/SantaTeclaSV" title="facebook").container-footer__social
        i.fab.fa-facebook-square
      a(href="https://twitter.com/SantaTeclaSV" title="twitter").container-footer__social
        i.fab.fa-twitter-square
      a(href="https://instagram.com/santateclasv/" title="instagram").container-footer__social
        i.fab.fa-instagram

