
.main-header.l-container
  .container-header
    a(href="index.html").container-header__link
      img(src="assets/img/logo-blanco.png").container-header__logo
    .container-header__user
      a(href="perfil.html").container-header__editar Editar perfil
      a(href="/index.html").container-header__salir Salir
      .container-header__cont
        img(src="assets/img/users/user.png").container-header__img
