
.main-header.l-container
  .container-header
    a(href="index.html").container-header__link
      img(src="assets/img/logo-blanco.png").container-header__logo
    h1.container-header__title Bolsa de trabajo
    a(href="#").container-header__validar#ingresar Ingresar



