
// main-menu
.main-menu.l-container
  a(href="#").main-menu__link Todos
  form(action="#" method="get").main-menu__form
    label.main-menu__label Búsqueda
    input(type="text").main-menu__input
    input(type="submit" value="").main-menu__submit
    i.fas.fa-search

