
.container-ofer

  h2.container-ofer__title Ejecutivo de ventas
  .container-ofer__empresa
    .container-ofer__cont
      img(src="assets/img/logos/claro.png").container-ofer__img
    p.container-ofer__description Claro es una empresa dedicada a brindar servicios a la familias salvadoresñas, servicios como: Telefonia fija, celular, cable, internet y otros

  .container-ofer__datos
    h3.container-ofer__title Detalle de la oferta
    table.container-ofer__tabla
      thead
        th Información
        th Dato
      tbody
        tr
          td Nombre de la empresa
          td Claro S.A de C.V
        tr
          td Cargo
          td Ejecutivo/a de ventas
        tr
          td Número de puestos
          td 5
        tr
          td Tipo de contratación
          td Tiempo completo
        tr
          td Nivel de experiencia
          td de uno a tres años
        tr
          td Género
          td es indiferente
        tr
          td edad
          td 18 / 35
        tr
          td Salario min($)
          td 300
        tr
          td Salario max($)
          td 300
        tr
          td Vehículo
          td Indiferente
        tr
          td Departamento
          td La Libertad
        tr
          td Municipio
          td Santa Tecla

    h3.container-ofer__title Requisitos
    table.container-ofer__tabla
      thead
        th Requisito
        th Opcionalidad
      tbody
        tr
          td curso de ventas
          td Opcional
    h3.container-ofer__title Estudios
    table.container-ofer__tabla
      thead
        th Estudio
        th Nivel academico
      tbody
        tr
          td Diplomado en Ventas
          td Completo
        tr
          td Diplomado en Mercadeo
          td Completo

    h3.container-ofer__title Tecnologías
    table.container-ofer__tabla
      thead
        th Tecnologia
        th Nivel
      tbody
        tr
          td Word
          td Intermedio
        tr
          td Excel
          td Básico
        tr
          td PowerPoint
          td Avanzado
    h3.container-ofer__title Idiomas
    table.container-ofer__tabla
      thead
        th Idioma
        th Nivel
      tbody
        tr
          td Inglés
          td Básico

    h3.container-ofer__title Detalle de la oferta
    .container-ofer__all
       p Es el responsable de asesorar al cliente durante el proceso de compra siguiendo los estándares establecidos en el área, colabora en inventarios, ordena, surte y plancha mercadería.
       p Requisitos:
       p Cualidades:
       ul
          li Persuasivo
          li Empático
          li responsable
          li Dinámico
          li Enfocado a resultados
          li Habilidad de negociació
       p NOTA: las plazas son permanentes y de tiempo completo, de preferencia residir en Santa Tecla, Merliot, Antiguo Cuscatlán o zonas cercanas a la sucursal.

  .container-ofer__button
      a(href="#").container-ofer__link.boton.primario Aplicar