
.container-oferta
  - var n = 10
  while n > 0
    + oferta("claro.png",
      "Ejecutivo de Ventas",
      "Ejecutivo de venta para nuestros productos como: servicios de telefonia móvil y fija, internet y cable.Con " +
      "pasión por las ventas, excelente presentación. Ejecutivo de ventas vend sabe que el mundo de las ventas están " +
      "afuera, tener claro que ventas es prospección perseverancia para obtener el mejor éxito.",
      "La Libertad",
      "15/05/2018")
    - n--
  //- Incluye el menu de navegación por la páginas 
  include pagina