
.container-restablecer
  h1.container-restablecer__title Recuperar contraseña
  form(action="#" method="post").container-restablecer__form
    label.container-restablecer__label Escribe tu nombre de usuario para enviarte un correo electrónico
      | a tu cuenta de correo con la que te has registrado
    .container-restablecer__dato
      i.fas.fa-user-shield.container-restablecer__icon
      input(type="text").container-restablecer__input
    input(type="submit" value="Enviar").container-restablecer__submit
    .container-restablecer__ref
      a(href="index.html").container-restablecer__link Inicio

