
.container-solicitante
  + solicitante("user.png",
    "Kevin Eduardo",
    "Juárez Escobar",
    "Poligono #45, Casa#12 Av. Los Hermanos",
    "La Libertad",
    "Santa Tecla",
    "20/05/2018")
  + solicitante("mujer.png",
    "Gloria Estefany",
    "Juárez Nidres",
    "Poligono #45, Casa#12 Av. Los Hermanos",
    "La Libertad",
    "Santa Tecla",
    "20/05/2018")
  + solicitante("mujer.png",
    "Gloria Estefany",
    "Juárez Nidres",
    "Poligono #45, Casa#12 Av. Los Hermanos",
    "La Libertad",
    "Santa Tecla",
    "20/05/2018")
  + solicitante("user.png",
    "Kevin Eduardo",
    "Juárez Escobar",
    "Poligono #45, Casa#12 Av. Los Hermanos",
    "La Libertad",
    "Santa Tecla",
    "20/05/2018")
  + solicitante("user.png",
    "Kevin Eduardo",
    "Juárez Escobar",
    "Poligono #45, Casa#12 Av. Los Hermanos",
    "La Libertad",
    "Santa Tecla",
    "20/05/2018")
  + solicitante("mujer.png",
    "Gloria Estefany",
    "Juárez Nidres",
    "Poligono #45, Casa#12 Av. Los Hermanos",
    "La Libertad",
    "Santa Tecla",
    "20/05/2018")