
extends template/template

block header
    include blocks/headerEmpresa

block nav
  include blocks/menuEmpresa

block main
  include blocks/categorias
  include blocks/ofertas
    include blocks/pagina

block footer
  include blocks/footer