
extends template/template

block header
    include blocks/header
    include blocks/login.pug

block nav
  include blocks/menu

block main
  include blocks/categorias
  include blocks/ofertas

block section
  include blocks/logos

block footer
  include blocks/footer
