header{
  background: $color1;
}

.main-header{
  margin-bottom: 1em;

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    
    &__logo {
      margin-top: .5em;
      width: 75%;
    }

    &__title{
      margin: 0;
      font-size: 0.9em;

      @include desde($large){
        font-size: 1.2em;
      }
    }

    &__validar{
      color: $white;
      margin: 0 .5em 0;
      
      @include desde($small){
        display: none;
      }
      @include desde($medium){
        display: block;
      }
      
      @include desde($large){
        font-size: 1.2em;
      }

      &:hover{
        text-decoration: underline;
        color: $white;
      }
    }

    &__icon{
      width: 33%;
      text-align: right;
      font-size: 1.5em;
      cursor: pointer;
      transition: all .3s linear;

      &:hover{
        color: $color2;
      }

      @include desde($medium){
        display: none;
      }
      
    }


    // Menú usuario

    &__user{
      margin: 0;
      display: flex;
      width: 75%;
      justify-content: flex-end;
      align-items: center;
      padding: .3em 0;
    }

    &__salir{
      margin: 0;
      text-transform: uppercase;
      margin-right: 2em;
      padding: .8em 1em;
      border: 1px solid $white;
      border-radius: 10px;
      color: $white;
      cursor: pointer;
      transition: all .3s;
      font-size: .7em;
      letter-spacing: .1em;
      &:hover{
        background: $color2;
      }
    }

    &__editar {
      @extend .container-header__salir;
      font-size: .5em;
      line-height: 1.9em;
      text-align: center;
      @include desde($small){
        font-size: .6em;
        line-height: 2.5em;
      }
    }


    &__cont{
      width: 3.5em;
      @include desde($medium){
        width: 4em;
      }
      @include desde($large){
        width: 5em;
      }

    }

    &__img{
      vertical-align: middle;
      width: 100px;
      border-radius: 50%;
      border: 1px solid $color2;
      transition: all .3s;

      @include desde($small){
        border: 2px solid $color2;
      }
      @include desde($medium){
        border: 3px solid $color2;

        &:hover{
          border: 3px solid $color2;
        }
      }

    }
  }

   // LOGIN
   .container-login{
    /*
    MENÚ MODAL DEL LOGIN
    */
    position: fixed;
    z-index: 100;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: hsla(0,0,0,.4);
    display: none;

    &.show-login{
      display: flex;
    }
    
    &__modal{
      margin: auto;
      max-width: 400px;
      padding: 1em 2em;
      color: $color2;
      border-radius: 10px;
      background: $white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      position: relative;
      
      @include desde($small){
        width: 90%;
      }
    }

    &__close{
      position: absolute;
      $size: 30px;
      background: yellow;
      width: $size;
      height: $size;
      top: - $size / 2;
      right: - $size / 2;
      text-align: center;
      line-height: $size;
      border-radius: 50%;
      background: hsl(10,100,50);
      color: $white;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      &:hover{
        background: hsl(10,100,45);
      }
    }


    &__img{
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: .5em;
    }

    &__form{

    }

    &__dato{
      display: flex;
      border-radius: 5px;
      margin-bottom: 1em;
    }

    &__icon{
      width: 15%;
      font-size: 1.5em;
      display: flex;
      justify-content: center;
      padding-top: .2em;
      background: $color1;
      color: $white;
      border: {
        bottom-left-radius: 5px;
        top-left-radius: 5px;
      };

      @include desde($small){
        width: 18%;
      }
    }

    &__input{
      border: none;
      padding: 3px;
      width: 100%;
      font-size: 1.5em;
      padding-left: .5em;
      &:focus{
        outline: none;
      };
      border: {
        right: 1px solid #ccc;
        top: 1px solid #ccc;
        bottom: 1px solid #ccc;
      };
      border: {
        bottom-right-radius: 5px;
        top-right-radius: 5px;
      };
    }

    &__submit{
      width: 100%;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: .3em 0;
      border: none;
      border-radius: 5px;
      background: $color2;
      color: $white;
      letter-spacing: 1px;
      transition: all .3s;
      cursor: pointer;
      @include desde($medium){
        width: auto;
        padding-left: .5em;
        padding-right: .5em;
        margin: 0 auto;
      }

      &:hover{
        background: darken($color2,5);
      }
    }

    &__ref {
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;
    }

    &__link{
      color: $color1;
      cursor: pointer;
      margin-top: 1em;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.animate{
  animation: dropDown .4s ease-out;
}

@keyframes dropDown{
  from{
    // Opcion 1
    // transform: scale(0);

    // Opcion 2
    top: -300px;
    opacity: 0;
  }
  to{
    // Opcion 1
    // transform: scale(1);

    // Opcion 2
    top: 0;
    opacity: 1;
  }
}


/* 
MENU DE AMBURGUESA
*/

.container-opciones{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all .5s ease-out;
  // width: 0;
  margin-left: 100vw;
  overflow-x: hidden; 

}
.container-menu{
  background: $color1;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  &__close{
    $size: 40px;
    position: absolute;
    width: $size;
    height: $size;
    top: $size / 3;
    right: $size / 3;
    color: $white;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    line-height: $size;
    border-radius: 50%;
    border: 1px solid $color2;
    cursor: pointer;
    transition: all .2s linear;

    &:hover{
      background: darken($color1,10);
    }
  }
}

.menu{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em 1em 0;
  
  &__item{
    
  }
  
  &__link{
    display: block;
    padding: 1em 1em .1em 0;
    border-bottom: 1px solid lighten($color1,20);;
    color: $white;
    transition: all .2s ease-out;
    cursor: pointer;

    &:hover{
      padding-left: .5em;
    }
  }

  .categorias{
    position: relative;
    &:after{
      content: '\002B';
      font-weight: bold;
      color: $white;
      position: absolute;
      right: 5px;
    }

    &.active:after{
      content: '\2212';
    }
  }

  .submenu{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1em;
    transition: max-height 0.3s ease-out;
    background: lighten($color1,5);

    overflow-y: hidden;
    max-height: 0;

    &__item{

    }

    &__link{
      display: block;
      color: $white;
      padding-top: .4em;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}