
.container-categoria
    h2.container-categoria__title Categorias
    ul.container-categoria__menu
        + categoria("area")
        + categoria("Informática | Internet")
        + categoria("Mercadeo | Ventas")
        + categoria("Finanzas | Contabilidad | aditoria")
        + categoria("Banca | Servicios | Financi")
        + categoria("Salud ")
        + categoria("Recursos Humanos")
        + categoria("Operaciones | Logística")
        + categoria("Publicidad | Comunicacion")
        + categoria("Almacenamie")
        + categoria("Compra")
        + categoria("Puestos Profesionales")
        + categoria("Call Center")
        + categoria("Apoyo de Oficina")
        + categoria("Mantenimiento")
        + categoria("Administración")
        + categoria("Producción | Ingeniería | Calidad ")
        + categoria("Restaurantes ")
        + categoria("Cualquier Área")
        + categoria("Varios")
        + categoria("Telecomunicaciones")
