.container-ofer

  h2.container-ofer__title Curriculum Vitae
  .container-ofer__empresa
    .container-ofer__cont
      img(src="assets/img/users/user.png").container-ofer__img--curriculum
    p.container-ofer__description

  .container-ofer__datos
    h3.container-ofer__title Información personal
    table.container-ofer__tabla
      thead
        th Información
        th Dato
      tbody
        tr
          td Nombre
          td Kevin Eduardo
        tr
          td Apellido
          td Juárez Escobar
        tr
          td DUI
          td 256958-1
        tr
          td Direccón
          td Poligono #45, Casa#12, Av. Los Hermanos
        tr
          td Municipio
          td Santa Tecla
        tr
          td Departamento
          td La Libertad
        tr
          td Edad
          td 25 años
        tr
          td Años de experiencia
          td de uno a tres años
        tr
          td Estado Civil
          td Casado
        tr
          td Vehículo
          td Si
        tr
          td Tipo de licencia
          td Liviana

    h3.container-ofer__title Experiencia Laboral
    table.container-ofer__tabla
      thead
        th Información
        th Dato
      tbody
        tr
          td Empresa
          td Tigo S.A de C.V (Millicom)
        tr
          td Cargo
          td Ejecutivo de Ventas
        tr
          td Descripción
          td Asesoramiento en la contratación de servicios, visita a clientes, y mucho más
        tr
          td Año inicio
          td 2014
        tr
          td Año fin
          td 2017

    h3.container-ofer__title Estudios
    table.container-ofer__tabla
      thead
        th Información
        th Dato
      tbody
        tr
          td Área de estudio
          td Comercio Internacional | Exterior
        tr
          td Nivel de estudio
          td Estudiante Universitario (2do Año)
        tr
          td Nombre de la institución
          td Universidad Francisco Gavidia (UFG)
        tr
          td Año inicio
          td 2015
        tr
          td Actual
          td Cursando

    h3.container-ofer__title Habilidades
    table.container-ofer__tabla
      thead
        th Habilidad
        th Nivel
      tbody
        tr
          td Word
          td Intermedio
        tr
          td Excel
          td Básico
        tr
          td PowerPoint
          td Avanzado
    h3.container-ofer__title Idiomas
    table.container-ofer__tabla
      thead
        th Idioma
        th Nivel
      tbody
        tr
          td Inglés
          td Básico

  .container-ofer__button
    a(href="solicitantes.html").container-ofer__link.boton.primario Guardar Curriculum