
.container-gestion
  + gestion("Ejecutivo de Ventas",
    "Ejecutivo de venta para nuestros productos como: servicios de telefonia móvil y fija, internet y cable.Con pasión por las ventas, excelente presentación. Ejecutivo de ventas vend sabe que el mundo de las ventas están",
    "15/05/2018", "10")
  + gestion("Jefe de bodega",
    "Ejecutivo de venta para nuestros productos como: servicios de telefonia móvil y fija, internet y cable.Con pasión por las ventas, excelente presentación. Ejecutivo de ventas vend sabe que el mundo de las ventas están",
    "15/05/2018", "2")
  + gestion("Programador en PHP",
    "Ejecutivo de venta para nuestros productos como: servicios de telefonia móvil y fija, internet y cable.Con pasión por las ventas, excelente presentación. Ejecutivo de ventas vend sabe que el mundo de las ventas están",
    "15/05/2018", "15")
  + gestion("Repartidor de productos",
    "Ejecutivo de venta para nuestros productos como: servicios de telefonia móvil y fija, internet y cable.Con pasión por las ventas, excelente presentación. Ejecutivo de ventas vend sabe que el mundo de las ventas están",
    "15/05/2018", "55")

