
.container-grafica
  p.container-grafica__title Gráfica de resultados
  .container-grafica__departamentos
    img(src="/assets/img/graficas/001.png" alt="grafica").container-grafica__img
  .container-grafica__empresas
    img(src="/assets/img/graficas/002.png" alt="grafica").container-grafica__img
  .container-grafica__empleo
    img(src="/assets/img/graficas/002.png" alt="grafica").container-grafica__img
