.main-header.l-container
  .container-header
    a(href="index.html").container-header__link
      img(src="assets/img/logo-blanco.png").container-header__logo
    .container-header__user
      a(href="/empresa.html").container-header__salir Inicio

