
.container-login
  h1.container-login__title Bienvenid@
  form(action="/usuario.html" method="post").container-login__form
    .container-login__dato
      i.fas.fa-user-shield.container-login__icon
      input(type="text").container-login__input
    .container-login__dato
      i.fas.fa-key.container-login__icon
      input(type="password").container-login__input
    //input(type="submit" value="Ingresar").container-login__submit
    a(href="/usuario.html" style="display:block; text-align: center;").container-login__submit Ingresar
    .container-login__ref
      a(href="restablecer.html").container-login__link ¿Has olvidado la contraseña?
      a(href="index.html").container-login__link Inicio






