
.main-logo.l-container
  .container-logo
    img(src="assets/img/logos/banco_azul.jpg" alt="logo").container-logo__img
    img(src="assets/img/logos/claro.png" alt="logo").container-logo__img
    img(src="assets/img/logos/davivienda.jpg" alt="logo").container-logo__img
    img(src="assets/img/logos/pollo_campero.jpg" alt="logo").container-logo__img
    img(src="assets/img/logos/tigo.png" alt="logo").container-logo__img
    img(src="assets/img/logos/unicomer.jpg" alt="logo").container-logo__img