
.main-menu.l-container
  a(href="#").main-menu__link Todos
  a(href="/nueva_oferta.html").main-menu__link Agregar
  a(href="#").main-menu__link Editar
  a(href="#").main-menu__link Eliminar
  a(href="/gestion.html").main-menu__link Gestión
  form(action="#" method="get").main-menu__form
    label.main-menu__label Búsqueda
    input(type="text").main-menu__input
    input(type="submit" value="").main-menu__submit
    i.fas.fa-search

