
.container-pagina
  .container-pagina__item
    a(href="#").container-pagina__link <
  .container-pagina__item
    a(href="#").container-pagina__link 1
  .container-pagina__item
    a(href="#").container-pagina__link 2
  .container-pagina__item
    a(href="#").container-pagina__link 3
  .pagina
    a(href="#").container-pagina__link 4
  .container-pagina__item
    a(href="#").container-pagina__link 5
  .container-pagina__item
    a(href="#").container-pagina__link 8
  .container-pagina__item
    a(href="#").container-pagina__link 7
  .container-pagina__item
    a(href="#").container-pagina__link >

